name: MLops CI


on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs: 
  workflow: 
    runs-on: ubuntu-ubuntu-latest
    steps: 
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.11.5'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          